parameters:
	ignoreErrors:
		-
			message: '#^Property Entities\\DirectoryEntry\:\:\$jpegPhoto \(stdClass\) does not accept default value of type null\.$#'
			identifier: property.defaultValue
			count: 1
			path: application/Entities/DirectoryEntry.php

		-
			message: '#^PHPDoc tag @var for property Entities\\LastLogin\:\:\$username with type string is incompatible with native type int\|null\.$#'
			identifier: property.phpDocType
			count: 1
			path: application/Entities/LastLogin.php

		-
			message: '#^Method Entities\\Quota\:\:getUsername\(\) should return string but returns int\|null\.$#'
			identifier: return.type
			count: 1
			path: application/Entities/Quota.php

		-
			message: '#^PHPDoc tag @var for property Entities\\Quota\:\:\$username with type string is incompatible with native type int\|null\.$#'
			identifier: property.phpDocType
			count: 1
			path: application/Entities/Quota.php

		-
			message: '#^Property Entities\\Quota\:\:\$username \(int\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: application/Entities/Quota.php

		-
			message: '#^Call to an undefined method Entities\\Domain\:\:getAliasesCount\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/Repositories/Domain.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\EntityRepository\<Entities\\Alias\>\:\:loadForMailbox\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/Repositories/Mailbox.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\EntityRepository\<Entities\\Alias\>\:\:loadWithMailbox\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/Repositories/Mailbox.php

		-
			message: '#^Method Repositories\\Mailbox\:\:loadForAdmin\(\) has invalid return type Entities\\Mailboxes\.$#'
			identifier: class.notFound
			count: 1
			path: application/Repositories/Mailbox.php

		-
			message: '#^PHPDoc tag @param has invalid value \(/Entities/Alias \$alias Alias to remove\.\)\: Unexpected token "/Entities/Alias", expected type at offset 192 on line 7$#'
			identifier: phpDoc.parseError
			count: 1
			path: application/Repositories/Mailbox.php

		-
			message: '#^Parameter \$user of method Repositories\\RememberMe\:\:deleteForUser\(\) has invalid type Entities\\User\.$#'
			identifier: class.notFound
			count: 1
			path: application/Repositories/RememberMe.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\EntityRepository\<Entities\\Alias\>\:\:filterForAliasList\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/plugins/MailboxAutomaticAliases.php

		-
			message: '#^PHPDoc tag @var for property ViMbAdminPlugin_MailboxAutomaticAliases\:\:\$defaultAliases contains unresolvable type\.$#'
			identifier: property.unresolvableType
			count: 1
			path: application/plugins/MailboxAutomaticAliases.php

		-
			message: '#^Constant SCRIPTDIR not found\.$#'
			identifier: constant.notFound
			count: 2
			path: bin/minify-options.php

		-
			message: '#^Method OSS_Filter_FileSize\:\:filter\(\) should return bool\|int but returns string\.$#'
			identifier: return.type
			count: 2
			path: library/OSS/Filter/FileSize.php

		-
			message: '#^Method OSS_Filter_FileSize\:\:unfilter\(\) should return string but returns int\.$#'
			identifier: return.type
			count: 1
			path: library/OSS/Filter/FileSize.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$invokeArgs$#'
			identifier: parameter.notFound
			count: 1
			path: library/OSS/Message.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$request$#'
			identifier: parameter.notFound
			count: 1
			path: library/OSS/Message.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$response$#'
			identifier: parameter.notFound
			count: 1
			path: library/OSS/Message.php

		-
			message: '#^Call to method getTemplateVars\(\) on an unknown class Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.OSS_Message.php

		-
			message: '#^Parameter \$smarty of function smarty_function_OSS_Message\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.OSS_Message.php

		-
			message: '#^Parameter \$smarty of function smarty_function_currency\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.currency.php

		-
			message: '#^Parameter \$smarty of function smarty_function_customdate\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.customdate.php

		-
			message: '#^Parameter \$smarty of function smarty_function_genUrl\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.genUrl.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$timestamp$#'
			identifier: parameter.notFound
			count: 1
			path: library/OSS/Smarty/functions/function.tmplinclude.php

		-
			message: '#^Default value of the parameter \#2 \$esc_type \(string\) of function smarty_modifier_escape\(\) is incompatible with type hex\|hexentity\|html\|htmlall\|javascript\|quotes\|url\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type hex\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type hexentity\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type html\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type htmlall\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type javascript\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type quotes\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^Parameter \$esc_type of function smarty_modifier_escape\(\) has invalid type url\.$#'
			identifier: class.notFound
			count: 1
			path: library/OSS/Smarty/functions/modifier.escape.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 402 on line 15$#'
			identifier: phpDoc.parseError
			count: 1
			path: library/OSS/Smarty/functions/modifier.string_format.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string\)\: Unexpected token "\\n \* ", expected variable at offset 419 on line 16$#'
			identifier: phpDoc.parseError
			count: 1
			path: library/OSS/Smarty/functions/modifier.string_format.php

		-
			message: '#^Function smarty_modifier_strpos\(\) should return string but returns int\<0, max\>\|false\.$#'
			identifier: return.type
			count: 1
			path: library/OSS/Smarty/functions/modifier.strpos.php

		-
			message: '#^Method OSS_Utils\:\:getResource\(\) should return object but returns null\.$#'
			identifier: return.type
			count: 1
			path: library/OSS/Utils.php

		-
			message: '#^Method OSS_Utils\:\:parseXML\(\) should return array\|bool but returns SimpleXMLElement\.$#'
			identifier: return.type
			count: 1
			path: library/OSS/Utils.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\EntityRepository\<Entities\\McpToken\>\:\:findByHash\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Mcp/Auth.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\Domain\>\:\:purge\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/Domain.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\Mailbox\>\:\:purgeMailbox\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/Mailbox.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:createQuery\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getConnection\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\Archive\>\:\:findAutoprune\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\Mailbox\>\:\:purgeMailbox\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\MailboxTask\>\:\:claim\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\<Entities\\MailboxTask\>\:\:pending\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: library/ViMbAdmin/Service/QueueRunner.php

		-
			message: '#^Cannot call method getFailedLogins\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Kernel/Controller/AuthController.php

		-
			message: '#^Offset non\-falsy\-string on array\{\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: tests/test-captcha.php

		-
			message: '#^Access to an undefined property MagicNamespaceFake\:\:\$csrfToken\.$#'
			identifier: property.notFound
			count: 2
			path: tests/test-kernel-session-adapter.php

		-
			message: '#^Access to an undefined property MagicNamespaceFake\:\:\$x\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-session-adapter.php

		-
			message: '#^Access to an undefined property MagicNamespaceFake\:\:\$y\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-session-adapter.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\Session\\SessionNamespace\:\:\$domain\.$#'
			identifier: property.notFound
			count: 3
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\Session\\SessionNamespace\:\:\$flashMessages\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\Session\\SessionNamespace\:\:\$storage\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\Session\\SessionNamespace\:\:\$x\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Offset ''Application'' on array\{\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 3
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Offset ''Zend_Auth'' on array\{\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: tests/test-kernel-session-namespace.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\View\\SmartyView\:\:\$html\.$#'
			identifier: property.notFound
			count: 1
			path: tests/test-kernel-smarty-view.php

		-
			message: '#^Access to an undefined property ViMbAdmin\\Kernel\\View\\SmartyView\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: tests/test-kernel-smarty-view.php

		-
			message: '#^Call to an undefined method FakeObjectManager\:\:removedContains\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/test-service-admin.php

		-
			message: '#^Function makeAdmin invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/test-service-admin.php

		-
			message: '#^Function makeDomain invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 4
			path: tests/test-service-admin.php

		-
			message: '#^Method FakeAliasRepo\:\:getClassName\(\) should return class\-string\<object\> but returns string\.$#'
			identifier: return.type
			count: 1
			path: tests/test-service-mailbox.php

		-
			message: '#^Method FakeMailboxRepo\:\:getClassName\(\) should return class\-string\<object\> but returns string\.$#'
			identifier: return.type
			count: 1
			path: tests/test-service-mailbox.php
