/* Override some defaults */
html, body {
  background-color: var(--bs-secondary-bg);
}

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the navbar */
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

.container-fluid > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.page-content {
  background-color: var(--bs-body-bg);
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */

  border-radius: 0 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg);
  box-shadow: var(--bs-box-shadow-sm);
}


/* Page header tweaks */
.page-header {
  background-color: var(--bs-tertiary-bg);
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.navbar .btn {
  border: 0;
}
